* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

:root {
    --primary: #FF9C07;
    --secondary: #FC5E48;
    --background: #222121;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
    color: white;
    min-height: 3000px;
    
    overflow-x: hidden;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.0rem 10%;
    background-color: rgb(22, 22, 22);
    box-shadow: black;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999999%;
    
}

.navbar .navbar-logo {
    font-size: 1.7rem;
    font-weight: 800;
    color: white;
    font-style: bold;
}

.navbar .navbar-logo span {
    background-color: var(--primary);
    border-radius: 5px;
    width: 5px;
    height: 10px;
    font-style: italic;
}

.navbar .navbar-nav a {
    color: white;
    display: inline-block;
    font-size: 1rem;
    margin: 0;
    padding: 8px;
    cursor: pointer;
    transition: all 1.0 ease-in-out;
}

.navbar .navbar-nav a:hover {
    color: var(--primary);
    background-color: rgb(29, 29, 29);
    border-radius: 5px;
}

.navbar .navbar-extra a {
    color: white;
    margin: 0;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);

}

#menu {
    display: none;
}

/* hero */

.container {
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-image: url(../img/IMG_9559\ 1.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    margin: 0;
}


.hero .content {
    padding: 1.5rem 10%;
    max-width: 100rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.hero .content h1 {
    font-size: 3em;
    color: white;
    text-shadow: 1px 5px 8px black;
    line-height: 1.2;
}

.hero .content h4 {
    font-size: 2em;
    color: #FF9C07;
    text-shadow: 1px 5px 8px black;
}

.hero .content h5 {
    font-size: 1.6rem;
    color: #FC5E48;
    line-height: 1.5;
    text-shadow: 1px 5px 8px black;
}

.hero .hero2 {
    transform: scale(0.15);
    margin-left: -1000px;
}



/* ABOUT learning */

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 5rem;
}

.skills-list {
    padding: 1em;
}

.pre-title {
    color: var(--secondary);
    font-size: 28px;

}

.skills-main-container {
    padding: 7rem 7% 1.4em;
}

.skills-right {
    font-size: 15px;
}

.education {
    display: flex;
    font-size: 14px;
    gap: 2rem;
    margin-top: 19px;
}

.education .line {
    padding: 0.5rem ;
    
}

.education .line div {
    width: 2.5px;
    height: 150%;
    background-color: var(--primary);
    position: relative;
    z-index: -99;
}


.education-years {
    margin-bottom: 2.8em;
}

.education .line div:before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: var(--primary);
    border-radius: 50%;
    position: absolute;
    left: -4px;
    z-index: -99;
}

/* Gallery */

.gallery-main-container {
    padding: 7rem 7% 1.4em;

}

.pre-title1 {
    color: var(--secondary);
    font-size: 28px;
}

.Aqil-Album {
    margin: auto;
    display: flex;
    height: 30rem;
    gap: 1rem;
    padding: 0.1rem 10%;

}

.Aqil-Album>div {
    flex: 0.4;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(.15, .2, .30, 1);
}

.Aqil-Album>div:hover {
    flex: 1.3;
}

/* contact section */

.pre-title2 {
    color: var(--secondary);
    font-size: 28px;
}

#contact {
    padding: 6rem 9%;
}

.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
    gap: 3rem;
}


.contact-form div {
    padding-bottom: 1.4em;
    padding-top: 2rem;
}

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: .75rem 1.3rem;
    background-color: rgb(51, 51, 51);
    border-radius: 5px;
}

.btn-submit {
    background-color: #FF9C07;
    border-radius: 5px;
    padding: 0.5rem 10%;
    color: white;
}

.contact-item-detail p{
    color: var(--secondary);
}

/* Sosmed */

.pre-title3 {
    color: var(--secondary);
    font-size: 28px;
}

.sosmed-main-container {
    text-align: center;
    margin-bottom: 1rem;
}

.footer-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.0rem 10%;
    background-color: rgb(221, 220, 220);
}



/* Deskop */

@media (max-width: 1366px) {
    html {
        font-size: 100%;
    }
}

/* Tablet */
@media (max-width: 756px) {
    html {
        font-size: 60%;
    }

    #menu {
        display: inline-block;
    }


    .navbar .navbar-nav {

        position: absolute;
        top: 100%;
        right: -100%;
        background-color: rgb(12, 12, 12);
        width: 20rem;
        height: 1000vh;
        transition: 0.4s ease-in-out;

    }

    .hero .content {
        padding: 2rem 10%;
        max-width: 60rem;
        text-align: center;
    }

    .navbar .navbar-nav.active {
        right: 0%;
    }

    .navbar .navbar-nav a {
        color: white;
        display: block;
        margin: 1.5rem;
        padding: 0.5;
    }



}


/* Handphone */
@media (max-width: 450px) {
    html {
        font-size: 45%;
    }
}